@import "tailwindcss";

@theme {
  --color-olive: #233000;
  --color-lightpistachio: #ebf0e4;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(50%);
    }
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 30s linear infinite;
  }
}
